<div class="container-fluid">
    <div class="row">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Dashboard</h4>
        </div>
    </div>

    <div class="row">
        <!-- Total Bookings Card -->
        <div class="col-md-6 col-xl-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="float-end mt-2">
                        <div id="totalBookingsRadialChart" data-colors='["#28a745"]'></div>
                    </div>
                    <div>
                        <p class="text-muted mb-0">Total Bookings</p>
                        <h4 class="my-1">
                            <span id="spanTotalBookingCount" class="text-success">XX</span>
                        </h4>
                    </div>
                    <p class="text-muted mt-3 mb-0" id="sectionBookingCount"></p>

                    <div class="justify-content-center text-center chart-spinner" style="display:none">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Users Card -->
        <div class="col-md-6 col-xl-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="float-end mt-2">
                        <div id="totalUserRadialChart" data-colors='["#ffc107"]'></div>
                    </div>
                    <div>
                        <p class="text-muted mb-0">Total Users</p>
                        <h4 class="my-1">
                            <span id="spanTotalUserCount" class="text-warning">XX</span>
                        </h4>
                    </div>
                    <p class="text-muted mt-3 mb-0" id="sectionUserCount"></p>

                    <div class="justify-content-center text-center chart-spinner" style="display:none">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="float-end mt-2">
                        <div id="totalRevenueRadialChart" data-colors='["#F0006B"]'></div>
                    </div>
                    <div>
                        <p class="text-muted mb-0">Total Revenue</p>
                        <h4 id="totalRevenu" class="my-1"></h4>
                        <p style="padding-top: 15px;" class="text-muted mb-0" id="totalRevenuCount"></p>
                    </div>

                    <div class="justify-content-center text-center chart-spinner" style="display:none">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- New Members and Bookings Chart -->
        <div class="col-md-12 col-xl-8 mt-2">
            <div class="card">
                <div class="card-body">
                    <div>
                        <p class="text-muted mb-0">New Members And Bookings In Past 30 Days</p>
                    </div>
                    <div id="newMembersAndBookingsLineChart" data-colors='["#ffc107", "#007bff"]'></div>
                    <div class="justify-content-center text-center chart-spinner" style="display:none">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Customer Bookings Pie Chart -->
        <div class="col-md-12 col-xl-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div>
                        <p class="text-muted mb-0">Customer Bookings</p>
                    </div>
                    <div id="customerBookingsPieChart" data-colors='["#ffc107", "#007bff"]'>

                    </div>
                    <div class="justify-content-center text-center chart-spinner" style="display:none">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    </div>
</div>

@section Scripts {
    <script src="~/js/Dashboard/radialCharts.js"></script>
    <script src="~/js/Dashboard/GetTotalBookingRadial.js"></script>
    <script src="~/js/Dashboard/GetTotalRevenuRadial.js"></script>
    <script src="~/js/Dashboard/GetTotalUsersRadial.js"></script>
    <script src="~/js/Dashboard/GetCustomerBookingPieChart.js"></script>
    <script src="~/js/Dashboard/GetCustomerAndBookingLineChart.js"></script>
}
