<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Villa Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Villa_PL.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Spinner.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />



</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Logo or Brand Name -->
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Store Villa Sakr </a>
               

                <!-- Button for small screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navigation Links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated) // Check if user is authenticated
                        {
                            @if (User.IsInRole(Const.Role_Admin))
                            {
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Content Management
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Villa" asp-action="Index">Villa</a>
                                        <a class="dropdown-item" asp-controller="VillaNumber" asp-action="Index">Villa Number</a>
                                        <a class="dropdown-item" asp-controller="Amenity" asp-action="Index">Amenity</a>
                                        <a class="dropdown-item" asp-controller="Booking" asp-action="Index" asp-route-status="@Const.BookingStatus.Completed">Booking</a>
                                        <!-- Add more items as needed -->
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Booking" asp-action="Index">Manage Booking</a>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>


    </header>    <div class="">
        <main role="main">
            <div class="loading spinner" style="display:none"></div>
            @RenderBody()
        </main>
    </div>

    <style>
        footer:hover {
            background-color: #f0f0f0; /* Change background color on hover */
        }
    </style>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Add this script to initialize Bootstrap modal -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="modal"]').click(function () {
                var targetModal = $(this).data('target');
                $(targetModal).modal('show');
            });
        });
    </script>
    <!-- Add these scripts to include Bootstrap JS and Popper.js -->
  @*<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-LRsEAsD2iGp6S/U8K42fM37UeU5bnqeaV1Sj8HEAAZ8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> *@
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
