@model AmenityVM

<div class="modal fade" id="DetailsAmenityModal-@Model.amenity?.Id" tabindex="-1" aria-labelledby="DetailsModalLabel-@Model.amenity?.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">@Model.amenity?.Name Details</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <dl class="row">
                            <dt class="col-sm-3 fw-bold text-muted">Villa Name:</dt>
                            <dd class="col-sm-9">@Model?.amenity?.villa.Name</dd>

                            <dt class="col-sm-3 fw-bold text-muted">Amenity Number:</dt>
                            <dd class="col-sm-9">@Model?.amenity?.Id</dd>

                            <dt class="col-sm-3 fw-bold text-muted">Special Details:</dt>
                            <dd class="col-sm-9">@Model?.amenity?.Description</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
