@model VillaNumberVM

<div class="modal fade" id="DeleteVillaNumberModal-@Model.villaNumber?.Villa_Number" tabindex="-1" aria-labelledby="DeleteModalLabel-@Model.villaNumber?.Villa_Number" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Delete Villa</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the villa: <strong>@Model.villaNumber?.Villa_Number</strong>?</p>
            </div>
            <div class="modal-footer text-center">
            
                <form asp-controller="VillaNumber" asp-action="Delete" method="post" class="d-inline">
                    <input type="hidden" name="villaNumber.Villa_Number" value="@Model.villaNumber?.Villa_Number" />
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                </form>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>